<div class="container flex-container">
    <div class="flex-spacing"></div>
    <div class="row flex-principal">
        <div class="col s2"></div>
        <div class=" col s8">
            <div class="card small center">
                <span class="card-title ">Login</span>
                <div class="container">
                    <div class="input-field">
                        <input id="email" type="email">
                        <label for="email">Email</label>
                    </div>
                    <div class="input-field">
                        <input id="password" type="password">
                        <label for="password">Password</label>
                    </div>
                    <div class="input-field">
                        <button class="left waves-effect waves-light btn indigo">Register</button>
                        <button class="right waves-effect waves-light btn indigo">Login</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s2"></div>
    </div>
    <div class="flex-spacing"></div>
</div>
