<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
	<title>Embrapa Share</title>
	
	<link rel="stylesheet" href="../static/css/materialize.min.css" th:href="@{/css/materialize.min.css}" />
    <link rel="stylesheet" href="../static/css/signup.css" th:href="@{/css/signup.css}" />
    <link rel="stylesheet" href="../static/css/colors.css" th:href="@{/css/colors.css}" />
</head>
<body>

    <div class="container-fluid full-height">
       <div class="row full-height">
           <div class="col s12 m3 panel">
               <div class="embrapa-logo">
                   <div class="share-text">Share</div>
               </div>
               <form action="#" method="post" th:action="@{/signup}" th:object="${form}" class="container">
                   <div class="row input-field">
                       <input id="name" type="text" class="validate" th:field="*{name}" />
                       <label for="name">Name</label>
                   </div>
                   <div class="row input-field">
                       <input id="email" type="email" class="validate" th:field="*{username}" />
                       <label for="email">Email</label>
                   </div>
                   <div class="row input-field">
                       <input id="password" type="password" class="validate" th:field="*{password}" />
                       <label for="password">Password</label>
                   </div>
                   <div class="row input-field">
                       <input id="confirmpw" type="password" class="validate" th:field="*{confirmation}" />
                       <label for="confirmpw">Confirm password</label>
                   </div>
                   <div class="row input-field">
                       <input type="hidden" id="message" th:value="${message}" value="Your username or password is not correct." />
                       <button class="waves-effect waves-light btn green darken-3 left">Confirm</button>
                       <button type="button" class="waves-effect waves-dark btn grey lighten-1 black-text right" onclick="cancel()">Cancel</button>
                   </div>
               </form>
           </div>
           <div class="col m9 hide-on-md-and-down">
               <div class="image-copyright">
                   Imagem por: <a href="https://pixabay.com/pt/paisagem-espaçoso-campo-prado-2211587/">Pixabay</a>
               </div>
           </div>
        </div>
    </div>
		
	<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    <script src="../static/js/materialize.min.js" th:src="@{/js/materialize.min.js}"></script>
    <script src="../static/js/signup.js" th:src="@{/js/signup.js}"></script>
	<script src="../static/js/messageviewer.js" th:src="@{/js/messageviewer.js}"></script>
</body>
</html>