<div class="container flex-container">
    <div class="row">
        <div class="col m2"></div>
        <div class="col s12 m8">
            <div class="card">
                <div class="card-image">
                    <img src="assets/img/mosca-minadora.jpg">
                    <span class="card-title">Café</span>
                </div>
                <div class="card-content">
                    <p>Tais manchas apareceram nos pés de café que tenho aqui no meu sítio. Nunca vi algo parecido... Por favor
                        me ajude.</p>
                </div>
                <div class="card-action">
                    <div class="row">
                        <form>
                            <div class="col s10">
                                <input id="last_name" type="text">
                            </div>
                            <button class="btn">Enviar</button>
                        </form>

                    </div>

                    <div>
                        <ul class="collection">
                            <li class="collection-item avatar row">
                                <div class="col s10">
                                    <img src="assets/img/gabriel.jpg" alt="" class="circle">
                                    <span class="title">Gabriel Barzagli</span>
                                    <p>Mosca minadora</p>

                                </div>
                                <div class="col s2">
                                    <a href="#!"><i class="material-icons">arrow_upward</i></a>
                                    <a href="#!"><i class="material-icons">arrow_downward</i></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col m2"></div>
    </div>

</div>
