body {
    display: flex;
    min-height: 100vh;
    height: 100vh;
    flex-direction: column;

    font-family: 'Roboto', 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    flex: 1 1 auto;
}

.diagnostic {
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.row.no-margin {
    margin: 0;
}

.scrollable {
    overflow-y: auto;
}

.commentaries {
    background-color: #f0f0f0;
}

.reset {
    margin: 0 !important;
    border: 0 !important;
    padding: 0 !important;
}

.user-info {
    position: fixed;
    top: 65px;
    right: 5px;
}